In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot
import seaborn as sns
sns.set_style('whitegrid')

In [3]:
# read data
dataset =pd.read_csv('binary_log.csv')

In [4]:
dataset

      SAT Admitted  Gender
0    1363       No    Male
1    1792      Yes  Female
2    1954      Yes  Female
3    1653       No    Male
4    1593       No    Male
..    ...      ...     ...
163  1722      Yes  Female
164  1750      Yes    Male
165  1555       No    Male
166  1524       No    Male
167  1461       No    Male

[168 rows x 3 columns]

In [5]:
# encoding using map function

dataset['Admitted']=dataset['Admitted'].map({'Yes':1,'No':0})
dataset['Gender']=dataset['Gender'].map({'Female':1,'Male':0})

In [6]:
dataset

      SAT  Admitted  Gender
0    1363         0       0
1    1792         1       1
2    1954         1       1
3    1653         0       0
4    1593         0       0
..    ...       ...     ...
163  1722         1       1
164  1750         1       0
165  1555         0       0
166  1524         0       0
167  1461         0       0

[168 rows x 3 columns]

In [7]:
x = dataset[['SAT','Gender']]

In [8]:
x

      SAT  Gender
0    1363       0
1    1792       1
2    1954       1
3    1653       0
4    1593       0
..    ...     ...
163  1722       1
164  1750       0
165  1555       0
166  1524       0
167  1461       0

[168 rows x 2 columns]

In [9]:
y = dataset['Admitted']

In [10]:
y

0      0
1      1
2      1
3      0
4      0
      ..
163    1
164    1
165    0
166    0
167    0
Name: Admitted, Length: 168, dtype: int64

In [11]:
# sklearn for train_test_split
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [13]:
x_train

      SAT  Gender
61   1715       0
44   1810       0
24   1720       1
63   1842       0
89   1687       1
..    ...     ...
9    1580       0
103  1579       0
67   1521       0
117  1475       0
47   1477       0

[134 rows x 2 columns]

In [15]:
x_train.shape

(134, 2)

In [16]:
x_test.shape

(34, 2)

In [17]:
# sklearn for model training
from sklearn.linear_model import LogisticRegression

In [18]:
model = LogisticRegression()

In [19]:
model.fit(x_train,y_train)

LogisticRegression()

# evaluating test data

In [20]:
# actual value
y_test

151    1
56     0
123    0
60     0
100    1
51     1
7      1
5      1
86     0
135    0
54     1
94     0
157    1
101    0
73     1
45     0
74     1
97     0
139    0
96     1
107    1
106    1
150    1
166    0
55     0
152    1
26     1
143    1
155    0
33     1
8      1
108    0
122    0
37     1
Name: Admitted, dtype: int64

In [21]:
# predicted value
y_pred =model.predict(x_test)

In [22]:
y_pred

array([1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [24]:
# sklearn for confussion matrices

In [27]:
from sklearn.metrics import confusion_matrix

In [28]:
print(confusion_matrix(y_test,y_pred))

[[15  0]
 [ 1 18]]

In [29]:
# for report
from sklearn.metrics import classification_report

In [30]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97        15
           1       1.00      0.95      0.97        19

    accuracy                           0.97        34
   macro avg       0.97      0.97      0.97        34
weighted avg       0.97      0.97      0.97        34